<div class="flex flex-column gap-4 p-2">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="To Do">
      @for (todo of todoList(); track todo.id) {
        @if (!todo.done) {
          <todo-item [todo]="todo"></todo-item>
        }
      } @empty {
        <div class="flex flex-column items-center justify-center gap-2 p-6 text-center text-gray-500">
          <mat-icon aria-hidden="true" class="text-4xl">inbox</mat-icon>
          <div class="text-lg">No pending tasks</div>
          <div class="text-sm">Click "Add a ToDo Item" to create one.</div>
        </div>
      }
    </mat-tab>
    <mat-tab label="Done">
      @for (doneTask of todoList(); track doneTask.id) {
        @if (doneTask.done) {
          <todo-item [todo]="doneTask"></todo-item>
        }
      } @empty {
        <div class="flex flex-column items-center justify-center gap-2 p-6 text-center text-gray-500">
          <mat-icon aria-hidden="true" class="text-4xl">inbox</mat-icon>
          <div class="text-lg">No done tasks</div>
          <div class="text-sm">Click "Add a ToDo Item" to create one.</div>
        </div>
      }
    </mat-tab>
  </mat-tab-group>

  <button
    mat-flat-button
    class="cursor-pointer"
    [routerLink]="['', { outlets: { aside: ['new'] } }]"
  >
    <mat-icon>add</mat-icon>
    Add a ToDo Item
  </button>
</div>
